@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.wiggle {
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    transform:  rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

.shake {
  animation: shake 0.4s ease-out infinite;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}


@keyframes turn-swing {
  0% {
    transform: rotate(-90deg);
  }
  10% {
    transform: rotate(-40deg);
  }
  15% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-22deg);
  }
  40% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.turn-swing {
  animation: turn-swing 0.5s ease-in;
  animation-delay: 300ms;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}